Source: ros-jade-simple-navigation-goals-tutorial
Section: misc
Priority: extra
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-jade-actionlib, ros-jade-catkin, ros-jade-move-base-msgs, ros-jade-roscpp, ros-jade-tf
Homepage: http://ros.org/wiki/simple_navigation_goals_tutorial
Standards-Version: 3.9.2

Package: ros-jade-simple-navigation-goals-tutorial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-actionlib, ros-jade-move-base-msgs, ros-jade-roscpp, ros-jade-tf
Description: The simple_navigation_goals_tutorial package
