Source: ros-melodic-roomba-stage
Section: misc
Priority: optional
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://ros.org/wiki/roomba_stage
Standards-Version: 3.9.2

Package: ros-melodic-roomba-stage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-fake-localization, ros-melodic-map-server, ros-melodic-move-base, ros-melodic-stage-ros
Description: The roomba_stage package
